/*background color to nav*/
.nav {
	background-color: #648dcb;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
}

img {
	width: 250px;
	height: 100x;
}
/*style the links*/
.nav a {
	font-family: Raleway;
	color: #f2f2f2;
	/* text-align: center; */
	padding: 30px;
	text-decoration: none;
	font-size: 28px;
}

/* color change on hover */
.nav a:hover {
	background-color: white;
	color: black;
}
